
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div id="map"> </div>
</div>

<div class="row">
    <h5 class="form-header">Calendar</h5>
    <div id="fullCalendar"></div>
</div>
