
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div id="map"> </div>
</div>

<div class="row">
    <h5 class="form-header">Calendar</h5>
    <div id="fullCalendar"></div>
</div>

<script>
        function myMap() {
            //map options
            var options = {
                center: { lat: 6.4413, lng: 7.4988 },
                zoom: 12
            }

            //new map
            var map = new google.maps.Map(document.getElementById('map'), options);

            infoWindow = new google.maps.InfoWindow;
            var pos = null;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map
                    });

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Current Location');
                    infoWindow.open(map, marker);
                    map.setCenter(pos);

                }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    }, { maximumAge: 600000, timeout: 5000, enableHighAccuracy: true });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6d2j5N9TNBOT1u6enuBTJ_8v32ch2SL8&callback=myMap"></script>
